<style>
body{
  background-color: whitesmoke;
}
h1{
  color: forestgreen;
  font-size: 50px;
}
h2{
  background-color: seagreen;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
 h3{
    background-color: seagreen;
    color: white;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    }
    nav{
      background-color: gray;
      overflow: hidden;
      border-radius: 10px;
      padding: 5px;
    }
    nav ul {
      list-style-type: none;
     }
     nav ul li {
       float: left;

     }
     nav ul li a{
       text-decoration: none;
       padding: 10px 10px;
       font-size: 25px;
       display: inline-block;

     }
     nav ul li a:hover{
       background-color: skyblue;
       border-radius: 10px;

     }
     nav ul li a.active{
       background-color: forestgreen;
       border-radius: 10px;

     }
  section{
    padding: 10px;

    margin-left: 255px;
  }
  article{
    padding: 5px;
    border-radius: 10px;
    border: 5px solid red;
    margin: 5px;

  }
  #search{
    float: right;
   padding: 5px;

  }
  aside{
    background-color: gray;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    float: left;
    width: 250px;
    overflow-y: scroll;
  }
  aside ul {
    list-style-type: none;
   }
   aside ul li {
     float: left;
     padding: 5px;

   }
   aside ul li a{
     text-decoration: none;
     padding: 10px 10px;
     font-size: 25px;
     display: block;
     margin: 5px;

   }
   aside ul li a:hover{
     background-color: skyblue;
     border-radius: 10px;

   }
   aside ul li a.active{
     background-color: forestgreen;
     border-radius: 10px;

   }

</style>
